body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  height: 100vh;
  background-color: #1a1a1a; /* Add a background color to the body */
  color: #ffffff;
}

nav {
  background-color: #1a1a1a;
  overflow: hidden;
  /* text-align: center; */
  width: 100%; /* Make the nav take up the full width of the viewport */
}

nav a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 14px 16px;
}

nav a:hover {
  background-color: #ffffff;
  color: #1a1a1a;
}

.contact-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* padding-top: 50px;  when adding annoying para*/
  padding-top: 250px;
}

.contact-info p,
.contact-info a {
  font-size: 30px;
  margin: 10px 0;
}

.contact-info a {
  color: inherit; /*Add a color for the Twitter link*/
  text-decoration: none;
}
.contact-message {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: large;
}
